<div class="container col-md-8-offset-2" ng-controller="MainCtrl">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Authors</h2>
          <p>List of Authors. </p>
          <p><a class="btn btn-default" href="#!/authors" role="button">View authors &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Books</h2>
          <p>List of books. </p>
          <p><a class="btn btn-default" href="#!/books" role="button">View books &raquo;</a></p>
       </div>
      </div>
      <div></div>
</div>